@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color{
    display: flex !important;
    background-color: black !important;
    justify-content: space-between !important;
}
.first{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.second{
    background: white;
    padding: 8px 16px;
}